{% extends 'template.html' %}
{% block content %}
			<h2>This Project was made by</h2>
			<br>

			<div class="row" style="margin-left: 20%;">
      <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 col-sm-offset-0 col-xs-offset-0 col-md-offset-2 col-lg-offset-2 profile">
      <div class="img-box"> 
         <img class="img-responsive" src='static/vidya.jpg' style="height: auto; width:100%;" >
         <ul class="text-center">
                  <a href="https://github.com/vidyam99" target="_blank"><li><i class="fa fa-github" style="font-size: 35px;"></i></li></a>
                </ul></div>
                <h1 style="font-size: 1.7em; margin:3% 3% 2% 3%;">Vidya Makwana</h1>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 col-sm-offset-0 col-xs-offset-0 col-md-offset-0 col-lg-offset-0 profile"> 
      	<div class="img-box">
         <img class="img-responsive" src='static/mayank.png' style="height:auto; width:100%;" >
         <ul class="text-center">
                  <a href="https://github.com/Maaayank" target="_blank"><li><i class="fa fa-github" style="font-size: 35px;"></i></li></a>
                </ul></div>
                <h1 style="font-size: 1.7em; margin:3% 3% 2% 3%;">Mayank Patel</h1>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 col-sm-offset-3 col-xs-offset-3 col-md-offset-0 col-lg-offset-0 profile"> 
      	<div class="img-box">
         <img class="img-responsive" src='static/ad.png' style="height:auto; width:100%;" >
         <ul class="text-center">
                  <a href="https://github.com/arghyadeep99" target="_blank"><li><i class="fa fa-github" style="font-size: 35px;"></i></li></a>
                </ul></div>
                <h1 style="font-size: 1.7em; margin:3% 3% 2% 3%;">Arghyadeep Das</h1>
      </div>
  </div>
  <br>
  <br>
  <h2>Using Flask, Pytorch, Tensorflow</h2>

		{% endblock %}